:root { /*   declarando Variaveis   */
    --primary-color: #040d82;
    --primary-color-darker: #041a6a;
}


body {
    background-color: var(--primary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
    text-align: center;
}

h1{
    color: #fff;
}

/* .menu-btn{

} */

*{
   box-sizing: border-box;
   outline: 0; 
}

.menu {
    background-color: antiquewhite;
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
    align-content: space-around;
}

.cadastrar-btn, .ok{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 15px;
    height: 22px;
    cursor: pointer; /*Faz o mouse virar uma "mãozinha" ao dar hover*/
}

.cadastrar-btn:hover .ok:hover{
    background: var(--primary-color-darker);
}

.trash-icon{
    width: 18px;
}

.del {
    border: solid black;
    width: 35px;
    height: 35px;
    background-color: red;
    cursor: pointer; /*Faz o mouse virar uma "mãozinha" ao dar hover*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lista {
    background-color: antiquewhite;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
    align-content: space-around;
}

 .output-alunos {
    display: flex;
    flex-wrap: wrap;
};
/*
.output-alunos > div {
    flex: 0 0 calc(33.33% - 20px);  // Calculando o tamanho de cada item
    margin: 10px;
    text-align: center;
};
*/