:root { /*   declarando Variaveis   */
    --primary-color: #005C6D;
    --primary-color-darker: #004854;
}

body {
    background-color: var(--primary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
    text-align: center;
}

h1{
    color: #fff;
}

button {
    border-radius: 20px;
    color: #fff;
    cursor: pointer; /*Faz o mouse virar uma "mãozinha" ao dar hover*/
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 15px;
    height: 22px;
}

*{
   box-sizing: border-box;
   outline: 0; 
}

.menu {
    background-color: antiquewhite;
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
    align-content: space-around;
}

.del-div, .edit-div {
    padding-top: 13px;
}

.edit {
    color: #fff;
    border: solid black;
    height: 25px;
    background-color: rgb(1, 138, 131);
    cursor: pointer; /*Faz o mouse virar uma "mãozinha" ao dar hover*/
    padding-top: 2px;
}

.del {
    color: #fff;
    border: solid black;
    height: 25px;
    background-color: red;
    cursor: pointer; /*Faz o mouse virar uma "mãozinha" ao dar hover*/
    padding-top: 2px;
}

.menu-lista {
    background-color: antiquewhite;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
    align-content: space-around;
}

 .output-alunos {
    display: flex;
    flex-wrap: wrap;
};