:root { /*   declarando Variaveis   */
    --primary-color: #040d82;
    --primary-color-darker: #041a6a;
}


body {
    background-color: var(--primary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
    text-align: center;
}

h1{
    color: #fff;
}

/* .menu-btn{

} */

*{
   box-sizing: border-box;
   outline: 0; 
}

.menu {
    background-color: antiquewhite;
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
    align-content: space-around;
}

button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 15px;
    /* font-weight: 700; */
    height: 22px;
    cursor: pointer; /*Faz o mouse virar uma "mãozinha" ao dar hover*/
}

button:hover{
    background: var(--primary-color-darker);
}

img{
    max-width: 250px;
}